body {
    /* background: #b4eeca; */
    background-image: url("coffee.webp");
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Tahoma, Arial, sans-serif;
}

h1 {
    color: lightcoral;
    font: 32px Monaco, Helvetica, serif;
}

h2 {
    font: 27px Monaco;
    font-weight: bold;
    color: #80f0f0;
}

h3 {
    color:#80f0f0
}

table {
    width: 50%;
}

thead {
    text-align: left;
}

label {
    display: block;
}
.navbar {
    background-color: lightcoral;
}

section {
    border: 3px solid lightcoral;
    padding: 20px;
    margin: 30px;
}

p {
    margin-top:10px;
    text-align: center;
}

header {
    padding: 30px;
    /* background-image: linear-gradient(to right, #b4eeca, #def7e7 ); */
}

#submit-btn {
    display: block;
    border-radius: 5px;
    background-color: #b4eeca;
    color: blueviolet;
    font-weight: bolder;
    padding: 8px;
}

#addpad {
    padding-block: 30px;
}

#special {
    text-align: left;
    color: white;
}

.sectionbg{
    background-color: aliceblue;
}
.extraPad {
    padding-bottom: 0px;
    padding-top: 8px;
}

.cardQuote {
    background-color: #b4eeca;
    border: 3px solid blueviolet;
}

.icons {
    color: white;
}

.carl {
    text-align: right;
    margin-right: 130px;
}

.modal-header {
    background-color: lightcoral;
}

.modal-title {
    color: white
}

.btn77 {
    background-color: lightcoral;
    border: none;
}

#loginU {
    text-decoration: none;
}

.class77 {
    background-color: lightcoral;
    padding-bottom: 20px;
}

.car-bg {
    background-color: grey;
    background: rgba(0,0,0,0.5);
    border-radius: 25px;
}



.carousel-inner {
    height: 0;
    padding-bottom: 55%;
}

.carousel-item {
    position: absolute !important; /* Important to override Bootstrap's default */
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.carousel-item img {
    height: 100%;
    object-fit: cover;
}